body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.templatePic {
  padding: 10px 10px;
}

.template2 {
  padding: 5px 15px;
}
.template3 {
  padding: 0px 25px;
}
.template4 {
  padding: 5px 15px;
  text-align: center;
}